.executive-template {

    background: white;

    padding: 45px;

    width: 210mm;

    min-height: 297mm;

    color: #1f2937;

    font-family: "Calibri", sans-serif;

    box-sizing: border-box;

}

.executive-template h1{

    color:#0f172a;

    font-size:36px;

    margin-bottom:5px;

}

.executive-template h2{

    margin-top:30px;

    padding-bottom:8px;

    border-bottom:3px solid #1e3a8a;

    color:#1e3a8a;

}

.executive-template .skill-tag{

    background:#1e3a8a;

    color:white;

    padding:6px 12px;

    border-radius:5px;

    margin:5px;

    display:inline-block;

    font-size:14px;

}